@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-brand-light font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-brand-dark;
  }
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
